*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    padding: 20px 45px;
    background-color: #ff5959;
    border: 0;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

section{
    margin-top: 130px;
}

main{
    max-width: 1140px;
    margin: auto;
}
/* header section starts*/
header{
    height: 100vh;
    background-image: url('images/donation8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(71, 65, 65);
    background-blend-mode: multiply;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-title{
    font-size: 65px;
    width: 68%;
    margin: auto;
    font-weight: 700;
}

.header-description{
    color: #ece9e9;
    width: 52%;
    line-height: 30px;
    margin: 30px auto;
    font-size: 16px;
    font-weight: 600;
}
/* header section ends*/

/* donate section starts*/
.donate{
    text-align: center;
}

.donate-title{
    font-size: 45px;
    font-weight: 700;
    color: #181818;
}

.donate-description{
    font-size: 16px;
    font-weight: 600;
    color: #707070;
    width: 65%;
    line-height: 30px;
    margin: 30px auto;
}

.donate-container{
    display: flex;
    justify-content: space-around;
    margin: 30px 100px;
}

.donate-value{
    box-shadow: 10px 10px 10px rgba(24, 24, 24, 0.034) ;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    color: #707070;
    font-size: 27px;
}

.donate-value:hover{
    color: #ff5959;
    border: 1px solid #ff5959;
    background-color: #ffc0c0;
}

.donate input[type="text"]{
    border: 0;
    padding: 10px 0;
    width: 16%;
    margin-bottom: 10px;
    
}

.donate hr{
    width: 80%;
    margin-left: 118px;
}
input::placeholder{
    font-size: 18px;
    color: #b3b3b3;
    border: 0;
    padding: 10px 0;
}

.btn-margin{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* donate section ends*/

/* plan section starts */

.donate-plan .plan-center{
    text-align: center;
}

.plan-container{
    display: flex;
    gap: 20px;
}

.blue{
    background-color: #edf5f6;
}

.blue h3{
    font-size: 24px;
    color: #181818;
}
.blue p{
    color: #707070;
}

.orange{
    background-color: #ffeeee;
}

.orange h3{
    font-size: 24px;
    color: #181818;
}
.orange p{
    color: #707070;
}

.yellow{
    background-color: #fff4d6;
}

.yellow h3{
    font-size: 24px;
    color: #181818;
}
.yellow p{
    color: #707070;
}

.plan-items{
    padding: 50px 15px;
}

.plan-items img{
    display: flex; 
}

.plan-items h3{
    margin: 30px 0;
}

/* plan section ends */

/* depend section starts */
.depend{
    display: flex;
}


.depend-left{
    width: 50%;
}

.depend-left h3{
    font-size: 45px;
    font-weight: 700;
    color: #181818;
    width: 75%;
}

.depend-left p{
    font-size: 16px;
    /* font-weight: 600; */
    color: #707070;
    width: 75%;
    line-height: 20px;
    margin: 30px 0;
}

.depend-right{
    width: 50%;
    height: 300px;
}

.update-container{
    height: 200px;
    background-color: #FFF4D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-container input[type="email"]{
    padding: 15px 0;
    width: 40%;
    background-color: #FFF4D6;
    color: #D7D7D7;
    border: 0;
}

.bg{
    background-color: red;

}
.btn-submit{
    
    padding: 12px 45px;
    background-color: #ff5959;
    border: 0;
    color: #FFFFFF;
    border-right: 1px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 61px;
}
.update-container input{
    background-color: white !important;
     padding-left: 20px;
}

.update-container input::placeholder{
    background-color: #FFF4D6;
    padding: 15px 0;
    color: #D7D7D7;
}


/* depend section ends */

/* footer */
footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: #ece9e9;
    margin-top: 130px;
    text-align: center;
}

.footer-title{
    color: #ff5959;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
}